DEVICE_UUID="{{ offline_backup_disk_uuid }}"
MOUNT_PATH="{{ offline_backup_directory }}/mount"
BACKUP_TARGET="{{ backup_target.hostname }}"
BACKUP_PORT="{{ backup_target.port }}"
BACKUP_USERNAME="{{ backup_target.user }}"
BACKUP_PASSWORD_PATH="{{ offline_backup_directory }}/password"
DISCORD_WEBHOOK_URL="{{ backup_discord_webhook_url }}"
