#!/usr/bin/env zsh

# History
export HISTSIZE=1000000000
export SAVEHIST=$HISTSIZE
setopt EXTENDED_HISTORY
export HISTFILE="$HOME/.zsh_history"

setopt autocd

autoload -U colors

# Word navigation with Ctrl+Left/Right
bindkey '^[[1;5D' backward-word
bindkey '^[[1;5C' forward-word

# Install fzf
source <(fzf --zsh)

# zsh-completions on darwin
if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh-completions:$FPATH
fi

autoload -Uz compinit
compinit -u

source "{{ zsh_plugin_prefix }}/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"

source "{{ zsh_plugin_prefix }}/zsh-autosuggestions/zsh-autosuggestions.zsh"

# include files in the .zshrc.d directory
if [[ -n "$(ls -A $HOME/.zshrc.d 2>/dev/null)" ]]; then
  for filename in $HOME/.zshrc.d/*.zsh; do
    source "${filename}"
  done
fi

alias k="kubectl"
alias gan="git commit --amend --no-edit"
alias gpf="git push --force-with-lease"
alias gp="git push"
alias gpm="git push origin main"

alias t="terraform"
alias tiu="terraform init -upgrade"
alias tp="terraform plan"
alias tv="terraform validate"

export PATH="$HOME/bin:$HOME/.cargo/bin:$PATH"

if type rbenv &>/dev/null; then
  eval "$(rbenv init - --no-rehash zsh)"
fi

eval "$(mise activate zsh)"

eval "$(starship init zsh)"
