[user]
  email = sam@simpson.id
  name = Sam Simpson
[gpg]
  format = ssh
[gpg "ssh"]
  defaultKeyCommand = {{ ansible_facts['user_dir'] }}/.ssh/git-ssh-key
  allowedSignersFile = {{ ansible_facts['user_dir'] }}/.ssh/allowed_signers
[commit]
  gpgsign = true
[push]
  autoSetupRemote = true
[core]
  excludesFile = {{ ansible_facts['user_dir'] }}/.gitignore
