#!/usr/bin/env bash

CACHE_BUST="$(openssl rand -hex 32)"

WEBHOOK_URL="{{ discord_webhook_url }}"

LAST_MODIFIED="$(cat /srv/ecg-last-modified.txt)"

CURRENT_MODIFIED="$(curl "https://www.gov.uk/api/content/plug-in-vehicle-grants?${CACHE_BUST}" | \
  jq ".updated_at" -r)"

if [ "${LAST_MODIFIED}" != "${CURRENT_MODIFIED}" ]; then
  WEBHOOK_CONTENT="$(cat <<EOF
  {
    "content": "<@376118507605065735>\nThe plug-in vehicle grants page has been updated.\nLast updated: ${CURRENT_MODIFIED}\nPrevious: ${LAST_MODIFIED}\nhttps://www.gov.uk/plug-in-vehicle-grants",
    "username": "ECG Notify"
  }
EOF
)"

  curl -X POST -H "Content-Type: application/json" -d "${WEBHOOK_CONTENT}" "${WEBHOOK_URL}"

  echo "${CURRENT_MODIFIED}" > /srv/ecg-last-modified.txt
fi