ui = true
api_addr = "https://{{ vault_hostname }}"
cluster_name = "{{ vault_cluster_name }}"
disable_mlock = true

storage "file" {
  path = "/data"
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = true
}