#!/usr/bin/env bash

set -o pipefail
set -e
set -x

export RESTIC_PASSWORD_FILE="/srv/backups/repository-password"
export RESTIC_REPOSITORY="sftp:a:{{ backup_restic_name }}"
SFTP_COMMAND="sshpass -f /srv/backups/password ssh -o StrictHostKeyChecking=no -p 23 {{ backup_target.user }}@{{ backup_target.hostname }} -s sftp"

r() {
    restic $@ -o sftp.command="${SFTP_COMMAND}"
}

if ! r cat config; then
    echo "repository doesn't exist. exiting"
    exit 0
else
    echo "repository already exists"
fi

r forget {{ backup_restic_forget_policy }}

r prune

/srv/backups/restic-metrics-{{ backup_restic_name }}.sh
