{
  http_port {{ caddy_http_port }}
  https_port {{ caddy_https_port }}
  debug
}

{% for host in caddy_hosts %}
{{ '*.' if host.wildcard is defined and host.wildcard }}{{ host.name }} {
  tls /certificates/{{ host.name }}/fullchain.pem /certificates/{{ host.name }}/key.pem

  {% for site in host.routes|selectattr('host', 'equalto', ansible_hostname) %}
  {% if site.custom is defined %}
  {{ site.custom | indent(width=2, first=False) }}
  {% else %}
  @{{ site.name }} host {{ site.name }}.{{ host.name }}
  handle @{{ site.name }} {
    reverse_proxy {{ site.target }}
  }

  {% endif %}
  {% endfor %}
  {% if host.fallback is defined %}

  {{ host.fallback | indent(width=2, first=False) }}
  {% endif %}
}

{% endfor %}