{
  acme_dns cloudflare {env.CADDY_CLOUDFLARE_API_KEY}
  email acme@sams.wtf
  storage file_system /data
  http_port {{ caddy_http_port }}
  https_port {{ caddy_https_port }}
  debug
}

{% for host in caddy_hosts %}
{{ '*.' if host.wildcard is defined and host.wildcard }}{{ host.name }} {
  {% for site in host.sites %}
  {% if site.custom is defined %}
  {{ site.custom | indent(width=2, first=False) }}
  {% else %}
  @{{ site.name }} host {{ site.name }}.{{ host.name }}
  handle @{{ site.name }} {
    reverse_proxy {{ site.target }}
  }

  {% endif %}
  {% endfor %}
  {% if host.fallback is defined %}

  {{ host.fallback | indent(width=2, first=False) }}
  {% endif %}
}

{% endfor %}