[default]
region = eu-west-1
login_session = arn:aws:iam::622626885786:user/sam.simpson@digital.cabinet-office.gov.uk

{% for account in aws_accounts | dict2items %}
{% for role in aws_roles %}
[profile {{ account.key }}-{{ role }}]
role_arn = arn:aws:iam::{{ account.value }}:role/sam.simpson-{{ role }}
source_profile = default
kube_context = arn:aws:eks:eu-west-1:{{ account.value }}:cluster/govuk

{% endfor %}
{% endfor %}
