#!/usr/bin/env zsh

alias co=aws-console

govuk_aws() {
  ${HOME}/bin/aws-subshell.sh $@
}

e() {
  govuk_aws "${1}" "developer"
}

ea() {
  govuk_aws "${1}" "fulladmin"
}

ee() {
  govuk_aws "${1}" "platformengineer"
}

er() {
  govuk_aws "${1}" "readonly"
}
