#!/usr/bin/env bash

set -o pipefail
set -e
set -x

export RESTIC_PASSWORD_FILE="/srv/backups/repository-password"
export RESTIC_REPOSITORY="sftp:a:{{ item.name }}"
SFTP_COMMAND="sshpass -f /srv/backups/password ssh -o StrictHostKeyChecking=no -p 23 {{ backup_target.user }}@{{ backup_target.hostname }} -s sftp"

r() {
    restic $@ -o sftp.command="${SFTP_COMMAND}"
}

if ! r cat config; then
    echo "repository doesn't exist. creating"
    r init
else
    echo "repository already exists"
fi

r backup "{{ item.path }}"
