[Unit]
Description={{ docker_service_description }}
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
RestartSec=10

ExecStart=/usr/bin/docker run --rm \
  --name {{ docker_service_id }} \
  {% if docker_service_network %}--network {{ docker_service_network }} \
  {% endif -%}
  {% if docker_service_ports|length > 0 %}{{ '-p ' + ' -p '.join(docker_service_ports) }} \
  {% endif -%}
  {% if docker_service_volumes|length > 0 %}-v {{ ' -v '.join(docker_service_volumes) }} \
  {% endif -%}
  {% if docker_service_env_vars|length > 0 %}{% for k, v in docker_service_env_vars.items() %}{{ '-e ' + k + '="' + v + '" ' }}{% endfor %} \
  {% endif -%}
  {% if docker_service_user and docker_service_groups|length > 0 %}-u {{ docker_service_user }}:{{ docker_service_groups[0] }} \
  {% elif docker_service_user %}-u {{ docker_service_user }} \
  {% endif -%}
  {% if docker_service_groups|length > 1 %}{% for group in docker_service_groups[1:] %}{{ '--group-add ' + group + ' ' }}{% endfor %}\
  {% endif -%}
  {% if docker_service_devices|length > 0 %}--device {{ ' --device '.join(docker_service_devices) }} \
  {% endif -%}
  {% if docker_service_privileged %}--privileged \
  {% endif -%}
  {% if docker_service_pid %}--pid {{ docker_service_pid }} \
  {% endif -%}
  --pull {{ docker_service_pull_policy }} \
  {{ docker_service_image }} {% if docker_service_command %}\
  {{ docker_service_command }}
  {% endif %}

ExecStop=/usr/bin/docker stop {{ docker_service_id }}
ExecReload=/usr/bin/docker restart {{ docker_service_id }}

[Install]
WantedBy=multi-user.target