{
  http_port 6998
  https_port 6999
  debug
}

{% for host in sites|selectattr('kind', 'equalto', 'external') %}
{{ '*.' if host.wildcard is defined and host.wildcard }}{{ host.name }} {
  bind {{ ha_proxy_address }}
  tls /certificates/{{ host.name }}/fullchain.pem /certificates/{{ host.name }}/key.pem

  {% for site in host.routes %}
  @{{ site.name }} host {{ site.name }}.{{ host.name }}
  handle @{{ site.name }} {
    reverse_proxy {
      to https://{{ site.host }}:6997
      transport http {
        tls_server_name {{ site.name }}.{{ host.name }}
      }
    }
  }

  {% endfor %}
  {% if host.fallback_host is defined %}

  handle {
    reverse_proxy {
      to https://{{ host.fallback_host }}:6997
      transport http {
        tls_server_name {{ host.name }}
      }
    }
  }
  {% else %}
  {% if host.fallback is defined %}

  {{ host.fallback | indent(width=2, first=False) }}
  {% endif %}
  {% endif %}
}
{% endfor %}