#!/usr/bin/env bash

set -o pipefail
client_id="{{ github_app.client_id }}" 

pem=$( cat "/srv/renovate/github_app.pem" )

now=$(date +%s)
iat=$((${now} - 60)) # Issues 60 seconds in the past
exp=$((${now} + 600)) # Expires 10 minutes in the future

b64enc() { openssl base64 | tr -d '=' | tr '/+' '_-' | tr -d '\n'; }

header_json='{
    "typ":"JWT",
    "alg":"RS256"
}'
# Header encode
header=$( echo -n "${header_json}" | b64enc )

payload_json="{
    \"iat\":${iat},
    \"exp\":${exp},
    \"iss\":\"${client_id}\"
}"
# Payload encode
payload=$( echo -n "${payload_json}" | b64enc )

# Signature
header_payload="${header}"."${payload}"
signature=$(
    openssl dgst -sha256 -sign <(echo -n "${pem}") \
    <(echo -n "${header_payload}") | b64enc
)

# Create JWT
JWT="${header_payload}"."${signature}"

INSTALLATION_ID=$(curl --request GET \
  --header "Authorization: Bearer ${JWT}" \
  --header "Accept: application/vnd.github.v3+json" \
  "https://api.github.com/users/samsimpson1/installation" \
  | jq -r '.id'
)

INSTALLATION_TOKEN=$(curl --request POST \
  --header "Authorization: Bearer ${JWT}" \
  --header "Accept: application/vnd.github.v3+json" \
  "https://api.github.com/app/installations/${INSTALLATION_ID}/access_tokens" \
  | jq -r '.token'
)

echo "${INSTALLATION_TOKEN}"