#!/usr/bin/env bash

TOKEN=$(/srv/renovate/installation_token.sh)

docker run --rm \
  -v /srv/renovate/config.json:/config.json:ro \
  --user "568:568" \
  -e RENOVATE_CONFIG_FILE=/config.json \
  -e RENOVATE_PLATFORM=github \
  -e RENOVATE_TOKEN="${TOKEN}" \
  -e RENOVATE_AUTODISCOVER="false" \
  {{ container_images.renovate }}
