[server]
DOMAIN = git.sams.wtf

HTTP_ADDR = 0.0.0.0
HTTP_PORT = 3000

REDIRECT_OTHER_PORT = false

USE_PROXY_PROTOCOL = true

DISABLE_SSH = false
START_SSH_SERVER = true
SSH_LISTEN_HOST = 0.0.0.0
SSH_PORT = 22
SSH_LISTEN_PORT = 22