server:
  database: "/config/database.db"
  cacheDir: "/config/cache"
  sources:
    - name: "Files"
      path: "/files"
      config:
        defaultEnabled: true
        denyByDefault: true

auth:
  methods:
    password:
      enabled: false
    oidc:
      enabled: true
      clientId: "{{ sso_clients.filebrowser.id }}"
      clientSecret: "{{ sso_clients.filebrowser.secret }}"
      issuerUrl: "https://pocket-id.srv.simpson.id"
      scopes: "openid email profile groups"
      userIdentifier: "preferred_username"
      adminGroup: "admin"
      createUser: true
